* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Fraunces", "Montserrat", sans-serif;
  font-weight: 500;
}

.container {
  height: calc(100vh - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  border-radius: 10px 0 0 10px;
}

.grid {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

.global-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 10px 10px 0;
}

h1 {
  font-size: 4rem;
}

.product-info {
  font-size: 1.5rem;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat";
}

.price {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: hsl(158, 36%, 37%);
}

.price p {
  font-size: 1.3rem;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

button {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  border: none;
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 70%, 13%);
}

@media (max-width: 24em) {
  .grid {
    grid-template-columns: 1fr;
  }

  .img {
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
  }

  .container {
    margin: 10rem 1rem;
  }

  h1 {
    font-size: 2.7rem;
    margin-top: 1rem;
    font-weight: 700;
  }

  .product {
    font-family: "Montserrat";
    letter-spacing: 0.3rem;
  }

  .product-info {
    margin-top: 1.5rem;
    font-size: 1.4rem;
  }

  .price {
    margin-top: 2rem;
  }

  .btn {
    margin-top: 2rem;
  }

  .global-info {
    padding: 2rem 2rem;
  }
}
